body{
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    padding: 20PX;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.title{
    text-align: center;
    margin-bottom: 30px;
}

.intro{
    text-align: justify;
}

.directories{
    color: #007bff;
    text-decoration: none;
}