.navbar {
    background-image: url("../img/nav.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #92198c;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #b11db6;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23007bff' d='M3 5h10a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2zm0 4h10a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2zm0 4h10a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2z'/%3e%3c/svg%3e");
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #b432ae;
    font-weight: bold;
}

.nav-link.active {
    color: #c956c9;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #ea82ee;
    border: 1px solid #660e8f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(179, 25, 199, 0.1);
}

.dropdown-item {
    color: #bb35dd;
    font-weight: bold;
}

.dropdown-divider {
    border-top-color: #cc35f1;
}

.form-control {
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #c33aec;
}

.btn-outline-success {
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #b02fec;
}


.d-flex{
    color: #722596;
}

.btn btn-outline-success{
    color: #722596;
}